/* src/components/Jokes.css */

.jokes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;    
  }
  
  .jokes-accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #a01c1c;
    width: 90%;
    transition: background-color 0.2s ease;
  }
  
  .jokes-accordion:hover {
    background-color: #f0f0f0;
  }
  
  .jokes-accordion.active {
    background-color: #933e7f; /* Change the background color for active accordion */
  }
  
  .accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-header h3 {
    margin: 0;
  }
  
  
  .jokes-content {
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .jokes-navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  /* Optional: Adjust font size for joke content */
  p {
    font-size: 16px;
    color: #fafcfd;
  }

  /* styles/Jokes.css */



/* Style the selection dropdowns */
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Style the jokes content */
.jokes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Style the navigation buttons */
.jokes-navigation {
  display: flex;
  gap: 10px;
}

  